@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;
}


:root {
    --color-purple: #574AE8;
    --gradiente: linear-gradient(270deg, #3EA1DB 0%, #574AE8 100%);
    --n-white: #FFFFFF;
    --n-gray: #717171;
    --n-white200: #F9F9F9;
    --n-gray-dark: #1A202C;

}

header {
    height: 20rem;
    background: var(--gradiente);
    padding: 0 2rem;
}

header .opcoes {
    display: flex;
    justify-content: space-between;
    color: var(--n-white);
    font-weight: 400;
    padding: 4.8rem 0 4.1rem 0;
    text-transform: uppercase;

}

.opcoes label {
    font-size: 1.8rem;

}

.pesquisa {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1.2rem 0.9rem;
    display: flex;

}

#lupa {
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 1.3rem;
}

#search {
    margin-block: auto;
    width: 100%;
    font-size: 1.8rem;
    background: none;
    border: none;
    
}

input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#search::placeholder {
    color: var(--n-white);
    opacity: 0.5;
}

main {
    background-color: var(--n-white200);
    padding-block: 5rem;
}

.artigo {
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    margin-inline: 2rem;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
}

path {
    fill: #8a8d9b;
}

.artigo__data {
    color: var(--n-gray);
    font-weight: 400;
    font-size: 1.4rem;
}

.artigo__cabecalho {
    display: flex;
    justify-content: space-between;
}


.artigo__curtir {
    height: 4rem;
    width: 4rem;
}

.artigo__curtir path:hover {
    fill: rgb(190, 36, 36);
    transition: all .25s ease-in-out;
}

.artigo__titulo {
    font-size: 1.8rem;
    color: var(--n-gray-dark);
    font-weight: 400;
    margin-top: 2.7rem;
    margin-bottom: 0.9rem;
}

.artigo__conteudo {
    color: var(--n-gray);
    font-size: 1.4rem;

}